@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color: black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

label{
    width: 152.78px;
    height: 24.47px;
    font-size: 20.92px;
    font-weight: 600;
    font-family: "Roboto", serif;
}

.formulario div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; 
}

input {
    background-color: #353535;
    width: 466px;
    height: 57px;
    border-radius: 4.02px;
    border-color: #C5C2C2;
    color: white;
    font-size: 20px;
}

img {
    width: 360px;
    height: 278px;
    align-self: center;
}

button {
    background-color: #2FB23C;
    width: 191px;
    height: 67px;
    border-radius: 10px;
    color: white;
    font-size: 31.48px;
    font-weight: 500;
    font-family: "Poppins", serif;
    border: none;
    margin-top: 84.28px;
    cursor: pointer;
}